@font-face {
    font-family: cafe;
    src:url("fonts/Louis\ George\ Cafe.ttf");
}

html,
body {
  height: 100%;
  width: 100%;
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

body {
    font-family: "cafe";
    background-color: rgb(255, 218, 205);
}

.correct {
    font-size: large;
    font-weight: bolder;
    color: rgb(0, 0, 0);
}

.error {
    font-size: large;
    font-weight: bolder;
    color: red;
}

#lang {
    position: fixed; 
    right: 0;
}